@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.container {
  max-width: 960px;
  width: 100%;
  padding-inline: 1rem;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

header {
  border-bottom: 1px solid #e5e5e5;
}
header .navbar {
  padding-block: 1.1rem;
}
header .navbar .container {
  display: flex;
  align-items: center;
}
header .navbar .container .nav_logo {
  max-width: 188px;
  max-height: 29px;
  height: 100%;
  width: 100%;
}
header .navbar .container .nav_logo img {
  width: 100%;
  height: 100%;
}
header .navbar .container button.nav_btn {
  background-color: #fc004a;
  padding: 6px 41px;
  margin-inline: 6px auto;
  border-radius: 12px;
  height: 36px;
  transition: 0.2s ease-in-out;
}
header .navbar .container button.nav_btn:hover {
  opacity: 0.9;
}
header .navbar .container button.nav_btn:active {
  transform: scale(0.95);
}
header .navbar .container button.nav_btn p {
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}
header .navbar .container button.nav_btn p::before {
  content: url("../assets/location_icon.svg");
  margin-right: 12px;
  height: 14px;
  width: 14px;
  transform: translateY(5%);
}
header .navbar .container #nav_collection {
  display: flex;
  gap: 1rem;
  transition: 0.2s ease-in-out;
}
header .navbar .container #nav_collection.visible {
  transform: translateX(0%);
}
header .navbar .container #nav_collection li a {
  font-weight: 400;
  font-size: 1rem;
}
header .navbar .container #nav_menu {
  background: none;
  user-select: none;
  object-fit: cover;
  display: none;
}

@media (max-width: 850px) {
  header .navbar .container .nav_logo {
    display: none;
  }
}
@media (max-width: 680px) {
  header .navbar .container #nav_collection {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding: 70px;
    background: #ffffff;
    transform: translateX(-100%);
    height: 100vh;
    z-index: 9999;
  }
  header .navbar .container #nav_menu {
    display: block;
  }
}
#hero {
  padding-top: 134px;
}
#hero .container a img {
  object-fit: contain;
  border-radius: 1rem;
  width: 100%;
}

#sets {
  padding-top: 4rem;
}
#sets .container h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 40px;
}
#sets .container .sets_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 44px;
  gap: 0.5rem;
  justify-content: center;
}

@media (max-width: 850px) {
  #sets .container .sets_wrapper {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
@media (max-width: 680px) {
  #sets .container .sets_wrapper {
    grid-template-columns: repeat(2, 235px);
    justify-content: center;
    gap: 1rem;
  }
}
@media (max-width: 525px) {
  #sets .container .sets_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
.product_card {
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1019607843), 0px 10px 15px -3px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  padding-block: 12px;
  max-width: 235px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  transition: 0.3s ease;
}
.product_card:hover {
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.2509803922), 0px 10px 15px -3px rgba(0, 0, 0, 0.2509803922);
}
.product_card:hover .product_card_img img {
  transform: scale(1.05);
}
.product_card .product_card_img {
  overflow: hidden;
}
.product_card .product_card_img img {
  object-fit: cover;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.product_card .product_card_text {
  padding-top: 1rem;
  padding-inline: 12px;
  position: relative;
}
.product_card .product_card_text div:first-child h3 {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 28px;
  color: #000000;
}
.product_card .product_card_text div:first-child p {
  color: #FC004A;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 28px;
  margin-top: 8px;
}
.product_card .product_card_text div:last-child button {
  background-color: #fc004a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 12px;
  margin-top: 12px;
}

footer {
  padding-block: 81px 51px;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 680px) {
  footer .container {
    flex-direction: column;
    gap: 1rem;
  }
}
#productPage {
  padding-top: 3rem;
}
#productPage .container .back_arrow button {
  background: none;
}
#productPage .container .productPage_content {
  display: flex;
  justify-content: center;
}
#productPage .container .productPage_content .productPage_img {
  max-width: 390px;
  width: 100%;
}
#productPage .container .productPage_content .productPage_img img {
  object-fit: cover;
  width: 100%;
}
#productPage .container .productPage_content #productPage_text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
}
#productPage .container .productPage_content #productPage_text p {
  font-size: 1.2rem;
  line-height: 1.75rem;
  color: #000000;
  margin-top: 1.75rem;
  max-width: 390px;
  height: 174px;
}
#productPage .container .productPage_content #productPage_text div {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#productPage .container .productPage_content #productPage_text div h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #000000;
  font-weight: 600;
}
#productPage .container .productPage_content #productPage_text div #productPage_control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e5e5e5;
  max-width: 144px;
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 0;
}
#productPage .container .productPage_content #productPage_text div #productPage_control h3 {
  color: rbg(115, 115, 115);
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
}
#productPage .container .productPage_content #productPage_text div #productPage_control button {
  background-color: #ffffff;
  font-size: 1rem;
  width: 24px;
  height: 24px;
  border-radius: 0.375rem;
  color: rbg(115, 115, 115);
}
#productPage .container .productPage_content #productPage_text button.productPage_card_btn {
  background: #fc004a;
  color: #ffffff;
  outline: 2px solid transparent;
  font-weight: 500;
  line-height: 1.75rem;
  font-size: 1.125rem;
  padding: 1.125rem 8rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 2rem;
  transition: 0.2s ease-in-out;
}
#productPage .container .productPage_content #productPage_text button.productPage_card_btn:hover {
  opacity: 0.9;
}
#productPage .container .productPage_content #productPage_text button.productPage_card_btn:active {
  transform: scale(0.97);
}

@media (max-width: 850px) {
  #productPage .container .productPage_content {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
