mixin Header
    header
        nav.navbar
            .container
                a(href="/#").nav_logo
                    img(src="/assets/logo.png", alt="Les Ailes")
                button.nav_btn(type="button")
                    p Укажите свой адрес
                ul#nav_collection
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Меню
                    li
                        a(href="#") Акции
                    li
                        a(href="#") Филиалы
                    li
                        a(href="#") Контакты
                button#nav_menu
                    img(src="/assets/nav_menu.svg", alt="menu")